<?xml version="1.0" encoding="UTF-8" ?>
<!--
  #%L
  Apache Kafka Embedded Server :: Spring Boot Sample project
  $Id:$
  $HeadURL:$
  %%
  Copyright (C) 2019 Leadware
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->

<configuration>
	
	<!-- Include Spring Boot base log configuration -->
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<!-- Define Console Appender -->
	<appender name="JOURNAL" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	        <charset>UTF-8</charset>
	        <pattern>%date -JOURNAL: %m %n</pattern>
	    </encoder>
	</appender>
	
	<!-- Define Console Appender -->
	<appender name="KAFKAEMBEDDED" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	        <charset>UTF-8</charset>
	        <pattern>%clr(%date{yyyy-MM-dd HH:mm:ss}){faint} %clr(%-5level){green} --- [%thread] - %clr(KAFKA-EMBEDDED){red} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m %n</pattern>
	    </encoder>
	</appender>
	
	<!-- Define KAFKA EMBEDDED Logger -->
	<logger name="net.leadware.kafka.embedded" level="TRACE" additivity="false">
	    <appender-ref ref="KAFKAEMBEDDED"/>
	</logger>
	
	<!-- Define Spring Framework Logger -->
	<logger name="org.springframework" level="DEBUG" additivity="false">
	    <appender-ref ref="JOURNAL"/>
	</logger>
	
	<!-- Define Apache HTTP Logger -->
	<logger name="org.apache.coyote.http11" level="DEBUG" additivity="false">
	    <appender-ref ref="JOURNAL"/>
	</logger>
	
	<!-- Define ROOT Logger -->
	<root level="ERROR">
	    <appender-ref ref="JOURNAL"/>
	</root>

</configuration>
